.instructions {
  position       : fixed;
  top            : 50%;
  left           : 50%;
  transform      : translate(-50%, -50%);
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  background     : rgba(255, 255, 255, 0.2);
  border         : 8px solid rgba(255, 255, 255, 0.1);
  height         : 30vh;
  width          : 70vw;
  padding        : 20px;
  font-family    : 'Merienda', cursive;
  @media all and (min-width: 500px) {}

}

.instructions-p {
  margin     : 15px 0;
  text-align : center;
  font-size  : 0.9rem;
  line-height: 2;
  @media all and (min-width: 500px) {
    font-size: 1.1rem;
  }
}

.instructions-desktop {
  display: none;
  @media all and (min-width: 768px) {
    display: block;
  }
}

.instructions-devices {
  display: block;
  @media all and (min-width: 800px) {
    display: none;
  }
}

.instructions-all {
  margin : -15px 0;
  display: none;
  @media all and (min-width: 768px) {
    display: block;
  }
  @media all and (min-width: 800px) {
    display: none;
  }
}

.move--bar {
  @media all and (min-width: 800px) {
    display: none;
  }
}

.button__move {
  z-index         : 0;
  position        : fixed;
  display         : flex;
  align-items     : center;
  justify-content : center;
  border          : 1px solid rgb(98, 104, 113);
  background-image: radial-gradient(rgba(214, 219, 223,0.6),rgba(69, 102, 125,0.6));
  background-color: gray;
  height          : 35px;
  width           : 35px;
  box-shadow      : 0 0 4px 3px rgba(97, 69, 111,0.3);
}

.arrow--move {
  font-size: 30px;
  color    : #413d46;

  &.move-active {
    color      : #6f492a;
    text-shadow: 1px 1px 1px;

  }
}

.move--up {
  top      : 0;
  right    : 50%;
  transform: translate(50%, 0);
}

.move--right {
  bottom   : 50%;
  right    : 0;
  transform: translate(0,50%);

}

.move--down {
  bottom   : 0;
  right    : 50%;
  transform: translate(50%, 0);
}

.move--left {
  bottom   : 50%;
  left     : 0;
  transform: translate(0,50%);
}
